{% extends "base.html" %}

{% block content %}
    <h1> Welcome to your game</h1>
    <video src="{{ url_for('static', filename='css/game1.mp4') }}" autoplay=on></video>
    <hr>
    <h2>
    <form action="" method="POST">
        <label for="selection1"> {{player1}}: </label>
        <br>
        <input list="selection1" placeholder="Please Select" required>
            <datalist  id="selection1" name="selection1">
                <option value="&#9994;">
                <option value="&#9995;">
                <option value="&#9996;">
            </datalist>
    <hr>
        <label for="selection2"> {{player2}}: </label>
        <br>
        <input list="selection2" placeholder="Please Select" required>
            <datalist id="selection2" name="selection2">
                <option value="&#9994;">
                <option value="&#9995;">
                <option value="&#9996;">
            </datalist>
    <hr>
        <button type="submit" style="width: 100%; height: 2rem; border-radius: 20%; border-bottom-color: blue; border-top-color: crimson;">Submit</button>
    </form>
    </h2>
{% endblock %}
